<div class="social-icons">
    <a href="https://github.com/colefuerth"><i class="fa fa-github" style="font-size: 24px;"></i></a>
    <a href="https://www.linkedin.com/in/cole-fuerth-48344520a/"><i class="fa fa-linkedin" style="font-size: 24px;"></i></a>
    <a href="https://www.instagram.com/cole_on_a_cob/"><i class="fa fa-instagram" style="font-size: 24px;"></i></a>
    <a href="https://www.youtube.com/channel/UCmSWuj9oy9jZfFu6KrFrqIA"><i class="fa fa-youtube" style="font-size: 24px;"></i></a>
    <a href="mailto:colefuerth@gmail.com"><i class="fa fa-envelope" style="font-size: 24px;"></i></a>
</div>
